body {
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
  letter-spacing: .2px;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

.book-summary {
  height: 100%;
  padding-bottom: 20px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

:hover::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 53%, 0.4);
}

:hover::-webkit-scrollbar-track {
  background: hsla(0, 0%, 53%, 0.1);
}
.markdown-section a{
  color: #EE8866;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  margin-bottom: .5em;
  font-weight: bold;
}
.markdown-section p {
  line-height: 2;
}
.markdown-section img {
  padding: 8px;
  background: #e4e4e478;
  transition: all 1s;
  box-sizing: border-box;
  box-shadow: 0 0 4px #dcdcdc;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 95%;
}
.markdown-section img:hover {
  box-shadow: 0 0 10px #bbb
}

.exc-trigger {
  color: #333333;
}

.navigation {
  display: none;
}

.sidebar-nav-space {
  height: 24px;
}
.book-summary{
  bottom: inherit;
}
.book-summary,
.book-body {
  top: 80px;
}

.book-header {
  position: fixed;
  width: 100vw;
  left: -10px;
  top: 40px;
}
.book-summary ul.summary li.active {
  border-right: 3px solid #EE8866;
  background: #f3f1f1;
}

.book-summary ul.summary li.active > a {
  color: #EE8866;
  text-decoration: none;
}

.book-summary ul.summary li a:hover {
  text-decoration: none;
}

.page-inner {
  max-width: none;
  padding: 20px 374px 40px 40px;
}

.header-inner #book-search-input {
  float: right;
  width: 300px;
  margin: 10px 0;
  padding: 0;
  border: none;
  border-radius: .25rem;
  background: #EE8866;
  user-select: none;
}

.header-inner #book-search-input input[type="text"] {
  width: 80%;
  background: #f4f5f5;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.header-inner #book-search-input #searchBtn {
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
}

.header-inner #book-search-input #searchBtn:hover {
  color: #eae8e8;
}

.header-inner {
  width: 100%;
  padding: 10px 30px;
  border-bottom: 1px solid #dededede;
  margin: auto;
  height: 80px;
}

.header-inner:before,
.header-inner:after {
  content: " ";
  display: table;
  line-height: 0;
}

.header-inner:after {
  clear: both;
}

.header-inner .logo {
  float: left;
  height: 50px;
  width: 221px;
  background: url('./logo.svg');
  background-size: 221px 50px;
  background-repeat: no-repeat;
}

.header-inner .logo img {
  display: block;
  height: inherit;
  padding: 5px 0;
}

.header-inner .title {
  float: left;
  font-size: 20px;
  line-height: 60px;
  margin-left: 10px;
  color: #575656;
}

/* 导航 */
.header-inner .header-nav {
  list-style: none;
  margin: 10px 20px 0 0;
  padding: 0;
  float: right;
  display: table;
}

.header-inner .header-nav li {
  display: table-cell;
  vertical-align: middle;
  min-width: 50px;
  margin-right: 20px;
  padding: 8px 10px 8px 10px;
}

.header-inner .header-nav li a {
  color: #5d6778;
  font-weight: 500;
  padding: .5rem;
}

.header-inner .header-nav li a:hover,
.header-inner .header-nav li a.active {
  color: #EE8866;
}

.header-inner .header-nav li a.active:hover {
  cursor: #EE8866;
}

@media (max-width: 768px) {
  .book-summary,
  .book-body {
    top: 101px;
  }
  .header-inner #book-search-input {
    clear: both;
    width: 100%;
  }
}

.book-anchor {
  overflow-y: auto;
  width: 307px;
  height: 100%;
  position: absolute;
  top: 104px;
  right: 30px;
  padding: 0 10px 10px 10px;
  z-index: 999;
  user-select: none;
  border-left: 1px solid #ececec;
}

.book-anchor-title {
  line-height: 38px;
  font-weight: bold;
  cursor: pointer;
}

.book-anchor a {
  display: block;
  line-height: 30px;
  color: #656565;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-anchor a:hover {
  color: #EE8866;
  text-decoration: none;
}

.book-anchor .selected {
  color: #EE8866;
  text-decoration: none;
  font-weight: bold;
}

.book-anchor .anchor-h1 {}

.book-anchor .anchor-h2 {
  padding-left: 20px;
}

.fa {
  color: black;
  z-index: 999;
  text-rendering: optimizeLegibility;
}

.book-anchor .anchor-h3{
  padding-left: 30px;
}
@media only screen and (max-width: 1020px) {
  .book-anchor {
    display: none;
  }
  .page-inner {
    max-width: none;
    padding: 20px 5px 5px 5px;
  }
  .book-body {
    top: 120px;
  }
  .header-nav {
    display: none;
  }
  body-inner {
    position: absolute;
    min-height: calc(100% - 50px);
  }
}
